<button class="btn btn-sm" [ngClass]="{ 'disabled': isSubmitting,
                                        'btn-outline-primary': !article.favorited,
                                        'btn-primary': article.favorited}"
                                        (click)="toggleFavorite()">
    <i class="ion-heart"></i> <ng-content></ng-content>
</button>