<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <list-errors [errors]="errors"></list-errors>

                <form [formGroup]="articleForm">
                    <fieldset [disabled]="isSubmitting">
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg"
                                    placeholder="Article Title" formControlName="title"/>
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="text" class="form-control"
                                    placeholder="What's this article about" formControlName="description"/>
                        </fieldset>

                        <fieldset class="form-group">
                            <textarea rows="8" class="form-control"
                                formControlName="body" placeholder="Write your article (in markdown)"></textarea>
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="text" class="form-control"
                            placeholder="Enter tags" [formControl]="tagField"
                            (keyup.enter)="addTag()"/>

                            <div class="tag-list">
                                <span *ngFor="let tag of article.tagList"
                                    class="tag-default tag-pill">
                                    <i class="ion-close-round" (click)="removeTag(tag)"></i>
                                    {{tag}}
                                </span>
                            </div>
                        </fieldset>

                        <button class="btn btn-lg pull-xs-right btn-primary" type="button"
                            (click)="submitForm()">
                            Publish Article
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>