<footer>
    <div class="container">
        <a class="logo-font" routerLink="/">medium</a>
        <span class="attribution">
      &copy; {{today | date:'yyyy'}}.
      Bachelor thesis by:  <a href="https://www.linkedin.com/in/muresan-vladut-673696110?trk=hp-identity-name">Vladut Muresan</a>.
    </span>
    </div>
</footer>