<article-preview *ngFor="let article of articles" [article]="article">
</article-preview>

<div class="article-preview" [hidden]="!loading">
    Loading articles...
</div>

<div class="article-preview" [hidden]="loading || articles.length">
    No articles are here... yet.
</div>

<nav [hidden]="loading || totalPages <=1 ">
    <ul class="pagination">
        <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}"
        *ngFor="let pageNumber of totalPages" (click)="setPageTo(pageNumber)">
            <a href="#" class="page-link">{{ pageNumber }}</a>
        </li>
    </ul>
</nav>