<div class="home-page">

    <div class="container page">
        <div class="row">

            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link"
                            [ngClass]="{'active': listConfig.type === 'feed'}" (click)="setListTo('feed')">
                                <span class="feed-color">Your Feed </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                            [ngClass]="{active: listConfig.type === 'all'
                            && !listConfig.filters.tag}" (click)="setListTo('all')">
                                <span class="feed-color">Global Feed </span>
                            </a>
                        </li>
                        <li class="nav-item" [hidden]="!listConfig.filters.tag">
                            <a class="nav-link active">
                                <i class="ion-pound feed-color"></i> <span class="feed-color">{{listConfig.filters.tag}}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <article-list [limit]="10" [config]="listConfig"></article-list>
            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p [hidden]="!recommendationsLoaded">Articles Suggestion</p>
                    <div class="tag-list" [hidden]="!recommendationsLoaded">
                        <a [routerLink]="['/article', article.slug]" *ngFor="let article of recommendations"
                           class="tag-default tag-pill">
                            {{article.title}}
                        </a>
                    </div>

                    <p>Latest Comments</p>
                    <div class="tag-list">
                        <a [routerLink]="['/article', comment.article.slug]" *ngFor="let comment of comments"
                           class="tag-default tag-pill">
                            {{comment.author.username}} posted on article: {{comment.article.title}}
                        </a>
                    </div>

                    <div [hidden]="commentsLoaded">
                        Loading Comments...
                    </div>

                    <div [hidden]="!commentsLoaded || comments.length">
                        No comments are here... yet.
                    </div>


                    <p>Popular Tags</p>
                    <div class="tag-list">
                        <a href="#" *ngFor="let tag of tags"
                        (click)="setListTo('all', {tag: tag})"
                        class="tag-default tag-pill">
                            {{ tag }}
                        </a>
                    </div>

                    <div [hidden]="tagsLoaded">
                        Loading tags...
                    </div>

                    <div [hidden]="!tagsLoaded || tags.length">
                        No tags are here... yet.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>